.container {
  padding: 0 5% 10% 5%;
  background-color: #f0f0f0;
}

.main {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: -3% -7%;
  padding: 2% 7%;
}

.mainLeft, .mainRight {
  width: 50%;
  text-align: start;
  margin: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-bottom: 18px;
}


.shipping, .credit, .order {
  background-color: #f0f0f0;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.shipping {
  flex-direction: column;
}

.shippingAddress {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.name, .email, .phone, .address, .city, .province {
  width: 100%;
}

.credit, .order {
  margin-bottom: 20px;
  flex-direction: row;
}

.nameCard, .cardNumber {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.visa, .nameInput, .numberInput, .numberCv {
  display: flex;
  margin: 0;
  padding: 5px 0 0 0;
}

.numberInput, .numberCv {
  justify-content: space-between;
}

.visa {
 justify-content: space-between;
 border-bottom: 2px solid #000;
 background-color: #f0f0f0;
}

.nameInput {
 justify-content: flex-end;
}

.visa, .numberCv {
  width: 40%;
}

.nameInput, .numberInput {
  width: 60%;
}

.expiredCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.expired {
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  padding-right: 5px;
}

.month, .year {
  padding: 0;
  margin: 0;
}

.expired {
  font-size: 20px;
  font-weight: 700;
}

.border {
  border-right: 1.8px solid #000;
  height: 40px;
  line-height: -40px;
  transform: skewX(-25deg);
  margin: 0 15px -40px 30px;
  align-items: center
}

.buy {
  height: 50px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: none;
  padding-right: 15px;
  text-align: center;
  padding: 5px 20px;
  box-shadow: 0 3px 5px 1px rgba(0,0,0,.2);
}

.buy:hover {
  font-weight: bold;
  transition: font-weight 0.5s ease;
}

.i.icon {
  margin: 0 !important;
  padding-left: 10px;
}

.order {
  height: 220px;
  align-items: center;
}

.subtotal, .cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0;
}

.borderReview {
  border-bottom: 2px solid #000;
  width: 100%;
}

.borderTotal {
  border-right: 1.8px solid #000;
  height: 20px;
  transform: skewX(-25deg);
}

.total {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.orderReview {
  font-size: 20px;
  /* font-weight: 700; */
  margin: 0;
}