@import url('http://fonts.cdnfonts.com/css/trebuchet-ms-2');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Trebuchet MS;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
