.greet p {
  font-size: 50px;
  font-family: Trebuchet MS;
}

.header {
  color: white;
}

.trebuchet {
  font-family: Trebuchet MS;
}

/* .borderFull {
  border: solid 2px black;
} */

.borderBottom {
  border-bottom: solid 2px;
}

.btnMsk p {
  font-size: 15px;
  font-family: 'Trebuchet MS';
}

.btnMsk p:hover {
  color: rgb(221, 227, 238);
}


.daftar a {
  text-decoration: underline;
}

.daftar a:hover {
  color: rgb(120, 169, 243);
  text-decoration: underline;
}











/* .border_none input {
  border: none;
} */

/* .column {
  border: none;
} */


/* .FormInput[placeholder="Kata Sandi"] {
  border: none;
} */

/* .ui.fluid.left.icon.input {
  border: none;
} */

/* .input[placeholder="Kata Sandi"] {
  border: none;
} */

/* .placeholder {
  border:none;
} */







/* Kenapa gak bisa begini ? */
/* Form.Input[placeholder='Email'] {
  border: none;
  border-bottom: solid 2px;
} */

/* .Segment[placeholder="Email"] {
  border: none;
} */